.filme{
    margin: 0 auto; 
    max-width: 800px;

}

.nota{
    float: right;
    color: rgb(187, 40, 54);
    font-weight: bold;
}

.genero{
    float: left;
    padding-left: 10px;
    color: white
}

.img{
    width: 100%;
}

.container{
    text-align: center;
}

.container h1{
    color: white;
    padding: 20px;
}

.container h3{
    margin-top: 33px;
    float: left;
    font-weight: bold;
    color: rgb(173, 4, 21);
}

.overview{
    margin-top: 55px;
    text-align: justify;
    color: white;
}

.salvar{
    float: left;
    margin-top: 35px;
    width: 250px;
    height: 50px;
    background-color: rgb(173, 4, 21);
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    color: white;
    font-size: 16px;
}

.salvar:hover{
    background-color: rgb(128, 4, 16);
    transition: all 0.5s;
}

.trailer{
    margin-top: 35px;
    margin-left: 15px;
    float: left;
    width: 250px;
    height: 50px;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    border: 3px solid;
    border-color: rgb(173, 4, 21);
    color: rgb(173, 4, 21);
    background-color: transparent;
    transition: all 0.5s;
}

.trailer:hover{
    color: white;
}

@media (max-width: 544px){
    .salvar{
      width: 100%;
    }
    .trailer{
      margin-left: 0px;
      width: 100%;
    }
  }