
header{
    background-color: rgb(173, 4, 21);
    color: white;
    text-align: left;
    height: 85px;
    display: flex;
    justify-content: space-between;
}


.logo{
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin-top: 20px;
    margin-left: 20px;
}

.favoritos{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-top: 24px;
    margin-right: 30px
}

@media (max-width: 352px){
    header{
        flex-direction: column;
        text-align: center;
        padding: 30px;
    }
    .favoritos{
        margin-right: 0px;
    }    
}